.taskListItem {
   padding: 10px 0;
   cursor: pointer;
}

.taskListItemHeader {
   font-weight: bold;
   padding-bottom: 5px;
   min-height: 20px;
   padding-right: 5px;
}

.taskListItemDetails {
   padding-right: 11px;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 20px; /* fallback */
   min-height: 60px; /* fallback */
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.taskListItemType {
   font-weight: bold;
   text-decoration: underline;
}

.taskListItemPointsWrp {
   min-width: 30px;
}

.taskListItemPoints {
   font-weight: bold;
   font-size: 30px;
   float: right;
   line-height: 20px;
}

.taskListItemCreatedBy {
   padding-top: 5px;
   font-size: 12px;
}

.taskListItemStatusBorder {
   width: 5px;
   margin-left: -16px;

}

.taskListItemMainContent {
   width: 100%;
   margin-left: 11px;
   padding: 6px;
}

.openTaskListItem {
   background-color: lightcoral;
}

.inProgressTaskListItem {
   background-color: burlywood;
}

.closedTaskListItem {
   background-color: lightgreen;
}

.selectedListItem {
   background-color: lightskyblue;
}
