<div fxLayout="row"
     fxLayoutAlign="center center"
     style="height: 100%; width: 100%;">
   <div fxFlex.xs="5"
        fxFlex.sm="15"
        fxFlex.md="25"></div>
   <div fxFlex.xs="90"
        fxFlex.sm="70"
        fxFlex.md="50"
        fxLayout="column"
        fxLayoutAlign="center">
      <md-input-container>
         <input mdInput
                placeholder="User Name"
                value="">
      </md-input-container>

      <md-input-container>
         <input mdInput
                placeholder="Password"
                type="password"
                value="">
      </md-input-container>

      <div class="mat-input-wrapper">
         <button md-raised-button
                 style="width: 100%;"
                 (click)="onSignIn()">Sign In
         </button>
      </div>
   </div>
   <div fxFlex.xs="5"
        fxFlex.sm="15"
        fxFlex.md="25"></div>
</div>

