.taskList {
   overflow-y: auto;
   padding-left: 16px;
   padding-right: 11px;
}

.taskDetailsWrp {
   background-color: white;
}

.taskDetails {
   padding: 16px;
}

.noTaskToDisplayMsg{
   padding: 16px 0;
}



